@model IEnumerable<GlowHarmonySkin.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>
                        <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">View Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No products available.</td>
            </tr>
        }
    </tbody>
</table>
